[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-6.0.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone60.cfg

[versions]
createcoverage = 1.5
watchdog = 2.1.6

# Added by buildout at 2025-02-14 15:26:45.751471
build = 1.2.2.post1
cmarkgfm = 2024.11.20
coverage = 7.6.9
i18ndude = 6.2.1
keyring = 25.5.0
markdown-it-py = 3.0.0
mdurl = 0.1.2
nh3 = 0.2.19
pkginfo = 1.10.0
pyproject-hooks = 1.2.0
readme-renderer = 44.0
requests-toolbelt = 1.0.0
rfc3986 = 2.0.0
rich = 13.9.4
twine = 5.1.1
zest.releaser = 9.2.0

# Required by:
# keyring==25.5.0
jaraco.classes = 3.4.0

# Required by:
# keyring==25.5.0
jaraco.context = 6.0.1

# Required by:
# keyring==25.5.0
jaraco.functools = 4.1.0

# Required by:
# jaraco.classes==3.4.0
# jaraco.functools==4.1.0
more-itertools = 10.5.0

# Required by:
# collective.pyplaywrightdemo==1.0a1
z3c.jbot = 2.1

# Added by buildout at 2025-02-14 15:30:46.240993
greenlet = 3.1.1
playwright = 1.50.0
pluggy = 1.5.0
pyee = 12.1.1
pytest = 7.4.4
pytest-base-url = 2.1.0
pytest-playwright = 0.7.0
python-slugify = 8.0.4
text-unidecode = 1.3

# Required by:
# pytest==7.4.4
iniconfig = 2.0.0

# Added by buildout at 2025-02-14 15:50:41.021657
pytest-cov = 5.0.0
pytest-plone = 0.5.0

# Required by:
# pytest-plone==0.5.0
zope.pytestlayer = 8.2
